
/*style Hotel soleil*/

.standart-image img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
    object-fit: cover;
}

.populaire-bloc{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border:3px solid #ffffff;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 12px;
    min-width:280px;
   }
.bloc-titre-notation{
    background:#ffffff;
    padding: 10px;
    padding-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.bloc-titre-notation .bloc-text1,
.bloc-titre-notation .bloc-text2
{
    padding-left: 0;

}




/*Ppour positionner les etoiles il ya deux methodes
1 Methode :position absolue et relative*/
/*
.stars-soleil {
    position: absolute;
    bottom: 10px;
    left: 15px;
}
.bloc-titre-notation{
    position: relative;
}
*/





/*style Au coeur de l'eau*/

.image-eau img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border:3px solid #ffffff;
    object-fit: cover;
}


/*style Hotel bleu blanc*/
.image-bleu-blanc img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border:3px solid #ffffff;
    object-fit: cover;

}
.soleil-mer-bleu{
    display: flex;
    flex-direction: column;
}



/*style  a supprimer*/

#heberg-populaires{
    width: 30%;
    margin-left: 30px;
    border-radius: 12px;
    background-color: #ddd;
    padding: 30px;
}

.titre{
    margin-top: 0;
    
}
.titre-charte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}