
/*style Hotel soleil*/

.populaire-bloc{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border:3px solid #ffffff;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 12px;
   }


.populaire-bloc img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
    width: 35%;
    height: 100px;
}

.bloc-titre-notation{
    background:#ffffff;
    padding: 10px;
    padding-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.bloc-titre-notation .bloc-text1,
.bloc-titre-notation .bloc-text2
{
    padding-left: 0;

}


.image-eau img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border:3px solid #ffffff;
    object-fit: cover;
}


/*style Hotel bleu blanc*/
.image-bleu-blanc img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border:3px solid #ffffff;
    object-fit: cover;

}
.container-populaire{
    display: flex;
    flex-direction: column;
}


#heberg-populaires{
    width: 30%;
    margin-left: 30px;
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 30px;
}

.titre-charte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bloc-stars{
    display: flex;
    flex-wrap: nowrap;
}