.bar-filtres{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
   
}


.fas fa-child{
    border :1px solid red;
}
/* style icones*/

.filtre-tag{
    border:1px solid #ddd;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    
}
.filtres-titre{
    margin-right: 30px;
    display: flex;
    align-items :center ;
    font-weight: bold;
    font-size: 17px;
}

/*style icone*/

.filtre-tag i{
    color: #0065fc;
}
.icone{
    background-color:#DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items :center ;
    justify-content: center;
}
.texte{
    padding-left: 17px;
    padding-right: 25px;
    font-weight: bold;
}


