/*Hebergemet a marseille*/
.container-hebergement{
    display:flex;
    margin-top: 20px;
}
#heberg-marseille{
    background-color: #f2f2f2;
    flex:1;
    border-radius: 12px;
    padding:30px;
 }

 /*
 #heberg-marseille h3{
    margin-top: 0;
 }
 */
 

 /*style des stars pour eviter le retour a la ligne*/

 .hebergement-stars{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    padding-top: 10px;
 }
 
/*Row 1*/
        /*Style Cannebière, port&mouette*/
        
.container-hebergement-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.espace-top30{
    margin-top: 30px;
}
.container-hebergement-child{
    background: #FFFFFF;
    border-radius: 12px;
    font-size: 12px;
}
.container-hebergement-child{
    width: 33%;
    margin-left: 30px;
}
.container-hebergement-child .bloc-text1,
.container-hebergement-child .bloc-text2{
    padding-right:6px;
}

.container-hebergement-child:first-child{
    margin-left: 0;
}


.style-image{
    width: 100%;
    height: 100px;
}

.hebergement-image img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    border:3px solid #ffffff
}

.bloc-text1{
    font-weight:bold;
    padding-left: 15px;
    font-size: 14px;
}
.bloc-text2{
    padding-top: 10px;
}

.bloc-text1,
.bloc-text2,
.hebergement-stars,
.stars-port{
    padding-left: 15px;
}

.afficher{
    font-weight:bold ;
    margin-top: 30px;
}


